* {
  font-family: "Segoe UI", Tahoma, sans-serif;
  color: white;
  background-color: #121212;
  margin: 0 auto;
  padding: 0px;
}

/* =============== TAG ============== */

p {
  width: 600px;
}

td,
th {
  background-color: #63666a;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid;
  border-color: white;
  border-collapse: collapse;
  width: 500px;
  text-align: center;
  background-color: black;
  height: 30px;
}

ul {
  list-style: none;
}

/*   ============= CLASS ==============  */

.text-center {
  text-align: center;
}

.headPad {
  padding: 30px;
}

.imgSettings {
  width: 400px;
}

.logo {
  width: 70px;
}

.submitChange {
  background-color: white;
  color: black;
  border-color: white;
}

.textChange {
  background-color: white;
  border-color: white;
  color: black;
}

.contact {
  text-align: center;
  padding-bottom: 40px;
}
