* {
  font-family: "Segoe UI", Tahoma, sans-serif;
  color: white;
  background-color: #63666a;
  margin: 0 auto;
}

ul,
td {
  text-align: center;
  list-style-type: none;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-color: white;
  border-collapse: collapse;
}

th,
td {
  background-color: black;
}

.text-center {
  text-align: center;
}

#kaneki {
  width: 400px;
  height: auto;
}

#logo {
  width: 70px;
  height: auto;
}

#textChange {
  background-color: white;
  border-color: white;
  color: black;
}

#submitChange {
  background-color: white;
  color: black;
  border-color: white;
}


