* {
  font-family: "Segoe UI", Tahoma, sans-serif;
  color: white;
  background-color: #63666a;
  margin: 0 auto;
  padding: 0px;
}

p {
  width: 600px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid;
  border-color: white;
  border-collapse: collapse;
  width: 500px;
  text-align: center;
  background-color: black;
  height: 30px;
}

td, th {
  background-color: black;
}

#kaneki {
  width: 400px;
  height: auto;
}

#logo {
  width: 70px;
  height: auto;
}

#submitChange {
  background-color: white;
  color: black;
  border-color: white;
}

#textChange {
  background-color: white;
  border-color: white;
  color: black;
}

.text-center {
  text-align: center;
}

.headPad {
  padding: 30px;
}

.myUL {
  display: inline-block;
  text-align: center;
}

.myBox {
  border: 1px solid;
  border-color: white;
}

.contact {
  text-align: center;
  padding-bottom: 40px;
}