* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.outer-box {
  background-color: #6495ed;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  width: 100px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 50%;
}

a {
  text-decoration: none;
}